/* Общее */
body
{
 margin: 0;
 padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
 /*  font-weight: 700; */
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	color:#000000;
}

h3
{
	font-size: 21px;
	line-height: 26px;
}
/* Главное меню */
header.main-header
{
    position: relative;
}

.index-active
{
	color:#766357;
}


/* при наведении */
.main-navigation a:hover 
{
	color:#81b3d2;
/*  background-color:#669ec0 */
}
/* при нажатии */
.main-navigation a:active 
{
	color:rgba(0,0,0,0.3);
}
/* .main-navigation a:disabled {
	color:#000000;
}
	.main-navigation a:active {
	color:#766357;
	 animation:none; 
} */
.main-navigation li {
    display: inline-block;
}

/* Главный Слоган */
.main-slogan
{
	text-align:center;	
}

/* Настоящий городок"(с картинкой) */
.description-colored
{
	text-align:center;
}

/* Жилье, Еда,Сувениры */
.description-list li
{
	display: inline-block;
	text-align:center;	
	padding-left:135px;
}

/* Форма поиска гостиницы в Седоне */
.interest
{
	text-align:center;
}
/*Кнопка поиска гостиницы*/
.interest a 
{
	width:568px; 
	padding-bottom:30px;
	padding-top:30px;
	/* height:87px; */
	color:#ffffff;
	text-align: center;
	
	background-color: #766357;
	font-size: 21px;
    line-height: 26px;
	display:block; 
 	
	margin:30px auto 0; 
	/* padding:0; */
}

/*Страница каталог*/

/*  форма фильтрации */
.form-filter
{
	background: #3c739c;	
}
/* кнопка на форме	 */
.submit-filter
{
	font: inherit;
	text-transform: uppercase;
	text-align: center;
	width:138px;
	padding-bottom:11px;
	padding-top:11px;
	
	font-size: 14px;
    line-height: 21px;
	display:block;
	
	background: #fff; /* запасной цвет для старых браузеров */
	background: rgba(255, 255, 255, 0);
	border: 2px solid #fff;
	border-radius: 2px; /*закругление рамки*/
	border-color: #ffffff; /*цвет рамки*/
	
}	
/* кнопка на форме	при наведении */
.submit-filter:hover 
{
	color:#000000;
	background-color:#fff; 
/*  background-color:#669ec0 */
}

.sorting-list li
{
	display: inline-block;
}	

.sorting-list a:hover
{
	color:#81b3d2;	
}	

/* Подвал */

.footer-social li
{
	display: inline-block;
}	
